<div class="gods-wrapper">
    <img class="img-circle" src="{{image}}" alt="{{name}}">
</div>
<div class="profile-style">
    <p>Name: {{name}}</p>
    <p>Domains: {{domains}}</p>
    <p>Gender: {{gender}}</p>
    <p>Prayers: {{prays}}</p>
    <a href="/form/{{name}}">Would like to pray to your god/goddess?</a>
</div>