
<div class="gods-wrapper">
    <img class="img-circle" src="{{image}}" alt="{{name}}">
</div>
<div class="profile-style">
    <ul>
        <p>Name: {{name}}</p>
        <p<li>Domains: {{domains}}</li>
        <li>Gender: {{gender}}</li>
        <li>Prays: {{prays}}</li>
    </ul>
    <button href="/form/{{name}}">Pray?!</button>
</div>