<div class="gods-wrapper img-circle">
    <img class="img-circle" src="{{image}}" alt="{{name}}">
    <ul>
        <li>Name: {{name}}</li>
        <li>Domains: {{domains}}</li>
        <li>Gender: {{gender}}</li>
        <li>Prays: {{prays}}</li>
    </ul>
    <a href="/form/{{name}}">Pray?!</a>
</div>